body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f8f8f8;
}

.card-box {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  min-width: 255px;
  min-height: 158px;
  background: linear-gradient(180deg, #FEAF00 0%, #F8D442 100%);
  border-radius: 8px;
}
