body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #F8F8F8;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
}


.title {
  font-size: 2rem;
  line-height: 1.2;
  display: flex;
  border: 1px, solid, red;
  align-items: end;
  gap: 0.5rem;
}

.bar {
  width: 5px;
  height: 50px;
  background: linear-gradient(71.17deg, #FEAF00 19.35%, #F8D442 90.12%);
  display: inline-block;
  margin-right: 20px
}

/* Sign In */

.subtitle {
  align-self: center;
  font-weight: 600;
  font-size: 22px;
}

.discription {
  color: #6C6C6C;
  margin-top: -5px;
}

.subtitle-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  width: 100%;
  height: 44px;
  background: #FEAF00;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.fields {
  display: flex;
  flex-direction: column;
  margin-block: 20px;
}

.fields input {
  width: 100%;
  height: 38px;
  border: 2px, solid, slategray;
  opacity: .5;
}

.fields label {
  margin-bottom: 10px;
  color: slategray;
}
