body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.actions a {
  margin-right: 10px;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

.btn-box * button {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}
