body {
  font-family: Arial, sans-serif;
  margin: 40px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.actions a {
  margin-right: 10px;
}

.btn-box {
  display: flex;
  justify-content: space-between;
}

.btn-box * button {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: transparent;
  transition: background-color 1s;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}


.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: auto;
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.modal-content h2 {
  color: darkred;
}

.modal-content .del-btn {
  background-color: #dc3545;
  color: whitesmoke;
  font-weight: bold;
}
