<!DOCTYPE html>
<html lang="pt-br">
<head>
 <meta charset="UTF-8">
 <title>Formulário de produto</title>
{% load static %} <link rel="stylesheet" href="{% static 'estoque_app/add.css' %}">
</head>
<body>
<div class="form">
<h1 class="title">
  <span class="bar"></span>
  Adicionar
</h1>
<div class="subtitle-block">
<p class="subtitle">Produto</p>
<p class="discription">Digite os dados do novo usuário</p>
</div>
 <form method="POST">
 {% csrf_token %} 
<label for="nome">Nome</label>
 <input type="text" id="nome" name="nome" required>
 <label for="marca">Marca</label>
 <input type="text" id="marca" name="marca" required>
 <label for="valor">Valor</label>
 <input type="float" id="valor" name="valor" required>

 <label for="quantidade">Quantidade</label>
 <input type="quantidade" id="quantidade" name="quantidade" required>
 <button type="submit">Salvar</button>
 </form>
 <br>
 <a href="{% url 'estoque:lista' %}">Cancelar e voltar para a lista</a>
</div>
</body>
</html>
